<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Projects</title>
</head>
<body>
                <ul class="nav justify-content-center bg-primary">
        <li class="nav-item">
            <a class="nav-link text-white" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active text-white" href="/projects">Projects</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="/contact">Contact</a>
        </li>
        </ul>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center mt-5 mb-5">
                    <h1>These are some of my projects</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 offset-2 text-center mt-5 mb-5">
                    <div class="projects">
                        <div class="card">
                            <img class="card-img-top" src="~/assets/img/django.png" alt="Django Image">
                            <div class="card-body">
                                <h5 class="card-title">Django</h5>
                                <p class="card-text">This is one of my favorite django projects, if I would spend more time on it I know I could make it really good.</p>
                                <a href="https://github.com/stradtkt/Django-Reviewer" target="_blank" class="btn btn-primary">Go To GitHub</a>
                            </div>
                        </div>
                        <div class="card">
                            <img class="card-img-top" src="~/assets/img/dashboard.png" alt="Django Image">
                            <div class="card-body">
                                <h5 class="card-title">Flask</h5>
                                <p class="card-text">This is a flask dashboard.  I did not spend as much time on this as others but it still works as a crud application.</p>
                                <a href="https://github.com/stradtkt/Flask-AdminDashboard" target="_blank" class="btn btn-primary">Go To GitHub</a>
                            </div>
                        </div>
                        <div class="card">
                            <img class="card-img-top" src="~/assets/img/meter.png" alt="Django Image">
                            <div class="card-body">
                                <h5 class="card-title">Algorithms</h5>
                                <p class="card-text">This is a list of JavaScript algorithms</p>
                                <a href="https://github.com/stradtkt/Algorithms" target="_blank" class="btn btn-primary">Go To GitHub</a>
                            </div>
                        </div>
                        <div class="card">
                            <img class="card-img-top" src="~/assets/img/gear.png" alt="Django Image">
                            <div class="card-body">
                                <h5 class="card-title">Django Ninja Gold</h5>
                                <p class="card-text">This is my Django ninja gold project for the coding dojo site</p>
                                <a href="https://github.com/stradtkt/Django-Ninja-Gold" target="_blank" class="btn btn-primary">Go To GitHub</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="~/assets/js/script.js"></script>
</body>
</html>